@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua&display=swap');

html{
    background-color:#ffc0cb;
}

body {
    font-family:Arial,sans-serif;
    background-color:#fff;
    max-width:960px;
    width:90%;
    margin:auto;
    padding:1%;
}

h1.page-header{
    font-family:'Inknut Antiqua',serif;
    width:80%;
    margin:auto;
    text-align:center;
    text-shadow: 4px 4px 4px #ffc0cb;
}

/* start nav rules */
nav{
    text-align:center; /* centers the nav */
}

nav a{
    color:#ffc0cb;
}

nav ul {
    list-style:none; /* removes the bullets */
}
nav li
{
    display:inline-block; /* makes horizontal, but able to declare margins */
    margin:0 2%; /* margin left-right, gets smaller as necessary */
}
nav a:hover{
    text-decoration: none;
}
/* end nav rules */	

/* Flexbox rules */
 .container{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: 20px;
}
.box{
      width: cacl(33.33% - 20px);
      background-color: #B4CFEC;
      margin-bottom: 20px;
      padding: 20px;
      box-sizing: border-box;
      border-radius: 15px;
}
@media screen nad (max-width: 768px){
      .container{
        flex-direction: column;
      }
      .box{
        width: 100%;
/* End of flexbox rules */          
          
/* Form rules */
form{
    max-width: 400px;
    margin: 0 auto;
}
input, textarea{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #61A5C2;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type="submit"]:hover{
    background-color: #61A5C2;
}
.error{
    color: #DB5856;
}
/* End of form rules */

footer.page-footer{
    clear:both;
    text-align:center;
}

legend{
    font-weight: bold;
    font-size:x-large;
}
